
    <body>
        <a href="potash.html" >Go to page on Potash</a>
        <br>
        <a href="potassium.html" >Go to page on Potassium</a>
        <br>
        <a href="edmund_hillary.html" >Go to page on Edmund         Hillary</a>
        <br>

    </body>