<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potash</title>
</head>
<body>
<h1>Potash</h1>
<p>
    <small>Sourced from Wikipedia, the free encyclopedia article on <a href="https://en.wikipedia.org/wiki/Potash">https://en.wikipedia.org/wiki/Potash</a>
    </small>
</p>

<!--<iframe src="navigation.html" height="90" frameborder="0"></iframe>-->
<%@include file="navigation.html"%>
<br>

<a href="http://www.mining.com/china-signs-long-delayed-potash-deal-with-belarus-at-almost-third-of-last-years-price/"><img
        src="http://www.mining.com/wp-content/uploads/2016/07/china-signs-long-delayed-potash-deal-with-belarus-at-almost-third-of-last-years-price.jpg"></a>


<ol>
    <li><a href="#terminology">Terminology</a></li>
    <li><a href="#production">Production</a></li>
</ol>

<p><strong>Potash</strong> is any of various mined and manufactured salts that contain potassium in water-soluble form.
    The name derives from <em>pot ash</em>, which refers to plant ashes soaked in water in a pot, the primary means of
    manufacturing the product before the industrial era. The word potassium is derived from potash.</p>

<p>Potash is produced worldwide at amounts exceeding 30 million tonnes per year, mostly for use in fertilizers. Various
    types of fertilizer-potash thus constitute the single largest global industrial use of the element potassium.
    Potassium was first derived by <a href="https://dictionary.cambridge.org/dictionary/english/electrolysis">electrolysis</a>
    of <a href="https://dictionary.cambridge.org/dictionary/english/caustic">caustic</a> potash (a.k.a. potassium
    hydroxide), in 1807.</p>

<video controls width="320">
    <source src="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" type="video/mp4">
    <source src="https://upload.wikimedia.org/wikipedia/commons/4/43/Potassium_water_20.theora.ogv" type="video/ogg">
    There has been an error while trying to play the video, sorry
</video>

<hr>

<h2 id="terminology">Terminology</h2>

<p>Potash refers to potassium compounds and potassium-bearing materials, the most common being potassium chloride (KCl).
    The term potash comes from the Middle Dutch word potaschen (<em>pot ashes</em>, 1477). </p>

<p>The old method of making <a href="https://en.wikipedia.org/wiki/Potassium_carbonate"> (K<sub>2</sub>CO<sub>3</sub>)
    was by collecting or producing wood ash </a>(an occupation carried out by ash burners), leaching the ashes and then
    evaporating the resulting solution in large iron pots, leaving a white residue called pot ash. Approximately 10% by
    weight of common wood ash can be recovered as pot ash. Later, <em>potash</em> became the term widely applied to
    naturally occurring potassium salts and the commercial product derived from them.</p>

<hr>

<h2 id="production">Production</h2>

<p>All commercial potash deposits come originally from evaporite deposits and are often buried deep below the earth's
    surface. Potash ores are typically rich in potassium chloride (KCl) and sodium chloride (NaCl) and are typically
    obtained by conventional <a href="https://dictionary.cambridge.org/dictionary/english/shaft">shaft</a> mining with
    the extracted ore ground into a powder. Other methods include dissolution mining and evaporation methods from <a
            href="https://dictionary.cambridge.org/dictionary/english/brine">brines</a>.</p>

<p>In the evaporation method hot water is injected into the potash which is dissolved and then pumped to the surface
    where it is concentrated by solar induced evaporation. <a
            href="https://dictionary.cambridge.org/dictionary/english/amine">Amine</a> <a
            href="https://dictionary.cambridge.org/dictionary/english/reagent">reagents</a> are then added to either the
    mined or evaporated solutions. The amine coats the KCl but not NaCl. Air bubbles cling to the amine + KCl and float
    it to the surface while the NaCl and clay sink to the bottom. The surface is skimmed for the amine + KCl which is
    then dried and packaged for use as a K rich fertilizer - KCl dissolves readily in water and is available quickly for
    plant nutrition.

<p>Potash deposits can be found all over the world, at present deposits are being mined in Canada, Russia, China,
    Belarus, Israel, Germany, Chile, United States, Jordan, Spain, United Kingdom, Uzbekistan and Brazil.</p>
<br>

<video controls>
    <source src="http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4" type="video/mp4">
    There has been an error while trying to play the video, sorry
</video>

<p><a href="#">Back to the future</a></p>

</body>
</html>